h1{
	color: red;
	font-size: 40px;
	font-family: cursive;
}
.jiji{
	color: pink;
	font-size: 40px;
	font-family: sans-serif;
}
.Mombasa{
	color: purple;
	font-size: 40px;
	font-family: fantasy;
}
#tagline{
	color: red;
	font-size: 40px;
	font-family: fantasy;

}